.header {
    min-height: 10vh;
    position: fixed;
    width: 100vw;
    background-color: #313131;
    .navbar {
        min-height: 10vh;
        padding: 15px 0;
        .container-fluid {
            width: 95%;
            .navbar-brand {
                display: flex;
            }
            .ionIconHeader {
                color: white;
                font-size: 20px;
            }
            .navbar-toggler {
                width: 40px;
                height: 35px;
                display: flex;
                flex-direction: column;
                align-items: center;
                .navbar-toggler-icon {
                    width: 25px;
                }
            }
            .navbar-collapse {
                margin: 15px 0 0 0;
                border-top: 1px solid gray;
                .navbar-nav {
                    .nav-item {
                        padding: 20px 0;
                    }
                }
            }
        }
    }
}

@media (min-width: 992px) {
    .header {
        .navbar {
            .container-fluid {
                .navbar-toggler {
                    display: none;
                }
                .navbar-collapse {
                    margin: 0;
                    border: none;
                    .navbar-nav {
                        .nav-item {
                            padding: 0;
                        }
                    }
                }
            }
        }
    }
}